* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  background: rgb(229, 229, 229);
  display: flex;
  justify-content: space-evenly;
  height: 500px;
  gap: 20px;
}

.container div {
  width: 100px;
  height: 100px;
  background: thistle;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 10px;
}

.container div:nth-of-type(odd) {
  background: pink;
}

body {
  background: rgb(48 83 73);
}

nav {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo {
  color: white;
  font-size: 25px;
  font-weight: 900;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

a:hover {
  text-decoration: underline;
}

.links {
  color: white;
}

.contact button {
  color: black;
  background: rgb(242, 213, 53);
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

section {
  display: flex;
  width: 76%;
  margin: 0 auto;
}

.left {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}

span {
  color: white;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(190, 177, 104);
  padding: 20px 0;
  font-weight: 800;
  font-size: 50px;
}

p {
  color: white;
}

small {
  color: white;
}

.right {
  width: 70%;
}
.right img {
  width: 100%;
  transition: ease all 0.5s;
}
.right img:hover {
  transform: translateY(-15px);
}

.btn {
  padding: 12px 16px;
  background: rgb(242, 213, 53);
  border: none;
  border-radius: 25px;
}

.btn:hover {
  background: rgb(186, 172, 90);
}
